# Database Options
DB_HOST="db"
DB_NAME="postgres"
DB_PASSWORD="postgres"
DB_PORT="5432"
DB_USER="postgres"

# Cache Options
CACHE_HOST="cache"
CACHE_PORT="11211"

# AWS
AWS_ACCESS_KEY_ID="FOO"
AWS_SECRET_ACCESS_KEY="BAR"
AWS_SESSION_TOKEN="TOKEN"

# Project Options
DJANGO_SETTINGS_MODULE=core.settings
ENV=local
PROJECT_SECRET_KEY="1234-ABCDE"

# Google Credentials
GOOGLE_CLIENT_ID="FOO"
GOOGLE_CLIENT_SECRET="BAR"
GOOGLE_PROJECT_ID="FOO_ID"
